# قائمتك القديمة التي تفضلها
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# الإضافات الضرورية لمنع الـ 5700 ملف
node_modules/
**/node_modules/
desktop-app/dist/
.gradle/
build/
dist/
.next/